/* CSS reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* style commun à toutes les pages */

@font-face {
  font-family: "Roboto Light";
  src: url(font/Roboto-Light.ttf) format("truetype");
  font-weight: normal;
  font-style: normal
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: "Roboto Light", sans-serif;
	font-size: 100%;
	letter-spacing: .1rem;
	line-height: 1.4;
	color: #222;
	background-color: #F6F6EF;
}

.wrapper {
	position: relative;
	z-index: 0;
	width: 100%;
	max-width: 700px;
	margin: 1% 4% 2%;
	padding: 1rem;
}

header {
	padding: 1rem 1.5rem;
}

header h1 {
	font-size: 4rem;
	text-transform: uppercase;
}

h2 {
	font-size: 2.5rem;
	margin: 4rem 0 1rem;
}	

p {
	font-size: 1.2rem;
	margin-bottom: 2rem;
	line-height: 1.8;
	letter-spacing: .08rem;
}

ul {
	margin-bottom: 2rem;
	font-size: 1.2rem;
	line-height: 1.8;
	letter-spacing: .08rem;
	list-style-position: inside;
	padding-left: 1rem;
	list-style: disc;
}

li ul {
	list-style: circle;	
}

li a {
	text-decoration: none;
	color: #268bd2;
	padding: 5px 2px;
	border-bottom: 1px solid #268bd2;
}

li a:hover {
	background: rgba(75%, 75%, 75%, .25);
	border-bottom-width: 3px;
	margin-bottom: -2px;
}

hr {
	border: 0;
  	height: 1px;
  	background: #bbb;
  	margin: 1rem 0;
}

/* About Page */

.about {
	padding: 1rem 1.5rem;
}

.about p span {
	color: #268bd2;
	font-weight: 900;
	font-style: italic;
}

/*	Navigation Menu */

.toggle {
	text-decoration: none;
	font-size: 3rem;
	color: #444;
	position: fixed;
	top: 2rem;
	right: 2rem;
	z-index: 1;
	cursor: pointer;
	transition: all .25s ease-out;
}

.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	right: -20rem;
	width: 15rem;
	padding: 2.4rem;
	background: #333;
	z-index: 0;
	transition: all .25s ease-out;
}

.sidebar  ul {
	list-style: none;
	padding-left: 0;
}

.sidebar  ul li {
	margin-bottom: 1rem;
}

.sidebar  li a {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
	font-size: 1.6rem;
}

.sidebar  li a:hover {
	color: rgba(255, 255, 255, 1);	
}

#sidebartoggler {
	display: none;
}

#sidebartoggler:checked + .page-wrap .sidebar {
	right: 0px;
}

#sidebartoggler:checked + .page-wrap .toggle {
	right: 16rem;
}

/* responsive */


@media (max-width: 600px) {	
	header h1 {
		font-size: 3rem;
	}	
	.wrapper {
		width: 100%;
		margin: 1% 0% 2%;
    padding: 1.8rem 0 0 0; 
	}

	.toggle {
		font-size: 2rem;
		top: 1rem;
		right: 2rem;
	}

}
