ul {
	list-style-type: none;
	/*position: fixed;
	top: 0;
	width: 100%;*/
}

li {/*display: inline;*/}

li a {
	display: inline;
}

li a.active {

}

li a:hover:not(.active) {
	background-color: red;
}